<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Médico</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container-fluid p-0">
        <%- include('../partials/menu') %>
        <%- include('../partials/cabecalho') %>

    </div>
    <div class="container">
    <% if (medico != undefined){ %>
        <div class="card mt-4">
            <div class="card-body">
              <h5 class="text-center mt-3">Detalhes do Médico</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Nome:</b> <%= medico.nome %></li>
              <li class="list-group-item"><b>CRM:</b> <%= medico.crm + " / " + medico.uf_crm  %></li>
              <li class="list-group-item"><b>Especialidade:</b> <%= medico.especialidade  %></li>
              <li class="list-group-item"><b>Telefone:</b> <%= medico.telefone %></li>
              <li class="list-group-item"><b>E-mail:</b> <%= medico.email  %></li>
              <li class="list-group-item"><b>Status:</b> <%= medico.status  %></li>
            </ul>
          </div>

    <%} else {%>
        <div>Médico não encontrado</div>
    <%} %>

    <br>
    
    <a href="/medicos">
        <button type="button" class="btn btn-light mb-4">
            <i class="bi bi-arrow-left-circle"></i> Voltar
        </button>
    </a>
    
    <%- include('../partials/rodape') %> 
    </div>
</body>
</html>
