<!DOCTYPE html>
<html data-bs-theme="dark" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Médicos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-fluid p-0">
        <%- include('../partials/menu') %>
        <%- include('../partials/cabecalho') %>
    </div>

    <div class="container">

        <% if (status == '1') { %>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso.</b>
            </div>
        <% } %>
        <% if (status == '2') { %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                Removido com <b>sucesso.</b>
            </div>
        <% } %>

        <% if (status == '3') { %>
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                Atualizado com <b>sucesso.</b>
            </div>
        <% } %>
        <h2 class="text-center mt-3 mb-5">Relatório de Médicos</h2>
        <div class="row">
            <% medicos.forEach(medico => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= medico.nome %>
                            </h5>
                            <p class="card-text"><b>CRM:</b>
                                <%= medico.crm %> / <%= medico.uf_crm %>
                            </p>
                            <p class="card-text"><b>Especialidade:</b>
                                <%= medico.especialidade %>
                            </p>
                            <p class="card-text"><b>E-mail:</b>
                                <%= medico.email %>
                            </p>
                            <p class="card-text"><b>Telefone:</b>
                                <%= medico.telefone %>
                            </p>
                            <p class="card-text"><b>Status:</b>
                                <%= medico.status %>
                            </p>
                            <div class="d-flex justify-content-between mt-4 gap-2">
                                <a href="/medicos/<%= medico._id %>" class="btn btn-info btn-sm">
                                    <i class="bi bi-info-circle"></i> Detalhar
                                </a>
                                
                                <a href="/medicos/cadastrar/<%= medico._id %>" class="btn btn-warning btn-sm">
                                    <i class="bi bi-pencil me-2"></i> Atualizar
                                </a>

                                <a href="/medicos/remover/<%= medico._id %>" class="btn btn-danger btn-sm" 
                                    onclick="return confirm('Deseja realmente remover?')">
                                    <i class="bi bi-trash"></i> Remover
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <a href="/">
        <button type="button" class="btn btn-light mb-4">
            <i class="bi bi-arrow-left-circle"></i> Voltar
        </button>
    </a>
    <%- include('../partials/rodape') %>
    </div>
</body>
</html>
