<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relat칩rio de Usu치rios</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container-fluid p-0">
        <%- include('../partials/menu') %>
        <%- include('../partials/cabecalho') %>
    </div>

    <div class="container">
        <% if (status == '1') { %>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso.</b>
            </div>
        <% } %>

        <% if (status == '2') { %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                Removido com <b>sucesso.</b>
            </div>
        <% } %>

        <% if (status == '3') { %>
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                Atualizado com <b>sucesso.</b>
            </div>
        <% } %>

        <h2 class="text-center mt-3 mb-5">Relat칩rio de Usu치rios</h2>
        <div class="row">
            <% usuarios.forEach(usuario => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><b>Nome: </b><%= usuario.nome %></h5>
                            <p class="card-text"><b>E-mail:</b> <%= usuario.email %></p>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="/usuarios/<%= usuario._id %>" class="btn btn-info btn-sm">
                                    <i class="bi bi-info-circle me-2"></i> Detalhar
                                </a>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="/usuarios/remover/<%= usuario._id %>" class="btn btn-danger btn-sm" 
                                    onclick="return confirm('Deseja realmente remover?')">
                                    <i class="bi bi-trash me-2"></i> Remover
                                </a>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="/usuarios/cadastrar/<%= usuario._id %>" class="btn btn-warning btn-sm">
                                    <i class="bi bi-pencil me-2"></i> Atualizar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>

        <a href="/">
            <button type="button" class="btn btn-light mt-4 mb-4">
                <i class="bi bi-arrow-left-circle"></i> Voltar
            </button>
        </a>

        <%- include('../partials/rodape') %>
    </div>
</body>
</html>
