<!DOCTYPE html>
<html data-bs-theme="dark" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Paciente</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="container-fluid p-0">
        <%- include('../partials/menu') %>
            <%- include('../partials/cabecalho') %>
    </div>
    <div class="container">
        <% if (status == '1') { %>
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <b>CPF já cadastrado. Cadastre um novo paciente.</b>
            </div>
        <% } %>
        <h2 class="text-center mt-5">Cadastrar Paciente</h2>
        <form action="/pacientes" method="POST">
            <input type="hidden" name="_id" value="<%= paciente._id %>">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" value="<%= paciente.nome %>" required id="nome" name="nome">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cpf" class="form-label">CPF:</label>
                    <input type="text" class="form-control" value="<%= paciente.cpf ? paciente.cpf : "" %>" <%=paciente._id ? "readonly" : "" %> required id="cpf" name="cpf" oninput="cpf2(this)">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
                    <input type="date" class="form-control" value="<%= paciente.dataNascimento ? paciente.dataNascimento.toISOString().split('T')[0] : "" %>" required id="dataNascimento" name="dataNascimento">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="telefone" class="form-label">Telefone:</label>
                    <input type="tel" class="form-control" value="<%= paciente.telefone %>" required id="telefone" name="telefone" maxlength="15">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="logradouro" class="form-label">Logradouro:</label>
                    <input type="text" class="form-control" value="<%= paciente.logradouro %>" required id="logradouro" name="logradouro">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="numResidencia" class="form-label">Número:</label>
                    <input type="text" class="form-control" value="<%= paciente.numResidencia %>" required id="numResidencia" name="numResidencia">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="bairro" class="form-label">Bairro:</label>
                    <input type="text" class="form-control" value="<%= paciente.bairro %>" required id="bairro" name="bairro">
                </div>
                <div class="col-md-5 mb-3">
                    <label for="cidade" class="form-label">Cidade:</label>
                    <input type="text" class="form-control" value="<%= paciente.cidade %>" required id="cidade" name="cidade">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="estado" class="form-label">Estado:</label>
                    <input type="text" class="form-control" value="<%= paciente.estado %>" required id="estado" name="estado" maxlength="2">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success"></i> Salvar</button>
        </form>
        <br>
        <%- include('../partials/rodape') %>
    </div>

    <script>
        function cpf2(input) {
            v = input.value;
            v = v.replace(/\D/g, "")                    //Remove tudo o que não é dígito
            v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o terceiro e o quarto dígito
            v = v.replace(/(\d{3})(\d)/, "$1.$2")       //Coloca um ponto entre o sexto e o sétimo dígito
            //de novo (para o segundo bloco de números)
            v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2") //Coloca um hífen entre o nono e o décimo dígito
            input.value = v;
        }
    </script>

</body>

</html>