<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Relatório de Pacientes</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container-fluid p-0">
        <%- include('../partials/menu') %>
            <%- include('../partials/cabecalho') %>
    </div>
    <div class="container">
        <% if (status=='1' ) { %>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso.</b>
            </div>
            <% } %>

                <% if (status=='2' ) { %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        Removido com <b>sucesso.</b>
                    </div>
                    <% } %>

                        <% if (status=='3' ) { %>
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                Atualizado com <b>sucesso.</b>
                            </div>
                            <% } %>

                                <h2 class="text-center mt-3 mb-5">Relatório de Pacientes</h2>
                                <div class="row">
                                    <% pacientes.forEach(paciente=> { %>
                                        <div class="col-md-4 mb-4">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%= paciente.nome %>
                                                    </h5>
                                                    <p class="card-text"><b>CPF:</b>
                                                        <%= paciente.cpf %>
                                                    </p>
                                                    <p class="card-text"><b>Data de Nascimento:</b>
                                                        <%= new
                                                            Date(paciente.dataNascimento).toLocaleDateString('pt-BR') %>
                                                    </p>
                                                    <p class="card-text"><b>Telefone:</b>
                                                        <%= paciente.telefone %>
                                                    </p>
                                                    <p class="card-text"><b>Endereço:</b>
                                                        <%= paciente.logradouro + ", " + paciente.numResidencia + ", " +
                                                            paciente.bairro + ", " + paciente.cidade + " - " +
                                                            paciente.estado %>
                                                    </p>
                                                    <div class="d-flex justify-content-between mt-3 gap-2">
                                                        <a href="/pacientes/<%= paciente._id %>"
                                                            class="btn btn-info btn-sm">
                                                            <i class="bi bi-info-circle me-2"></i> Detalhar
                                                        </a>
                                                        <a href="/pacientes/cadastrar/<%= paciente._id %>"
                                                            class="btn btn-warning btn-sm">
                                                            <i class="bi bi-pencil me-2"></i> Atualizar
                                                        </a>
                                                        <a href="/pacientes/remover/<%= paciente._id %>"
                                                            class="btn btn-danger btn-sm" onclick="return confirm('Deseja realmente remover?')">
                                                            <i class="bi bi-trash me-2"></i> Remover
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>

                                <a href="/">
                                    <button type="button" class="btn btn-light mt-4 mb-4">
                                        <i class="bi bi-arrow-left-circle"></i> Voltar
                                    </button>
                                </a>

                                <%- include('../partials/rodape') %>
    </div>
</body>

</html>